/* ↓↓↓ Graph ↓↓↓ */
.moneyGraph {
  width: var(--main2-width); /* w-full */
  height: 100vh;  /* h-screen */
  padding: 80px 0 100px 0; /* 上マージン + 下マージン */
  position: relative; /* 相対位置 */
  background-color: #fff8f8; /* 背景色 */
}

.moneyGraph_layer {
  display: flex; /* 横並び */
  flex-direction: column; /* 縦並び */
}

.moneyGraph_title {
  display: flex;
  justify-content: center; /* 中央寄せ */
  font-family: 'Irish Grover', sans-serif; /* font-irish */
  font-size: 4rem; /* text-2xl */
  color: var(--main-color);
}

.moneyGraph_content {
  position: relative; /* 相対位置 */
  display: flex;
  justify-content: center; /* 中央寄せ */
  font-size: 1.2rem; /* text-lg */
  color: var(--mainSub-color);
  bottom: 70px;
}
  
.graphs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 200px;
}
/* ↑↑↑ Graph ↑↑↑ */