/* ExportPdfAndCsv.module.css */

.exportMainContainer {
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-height: 40vh; /* 高さを明示的に設定 */
  padding: 80px; /* ここで文字を下に下げる */
}

.exportPdfAndCsvImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../public/images/exportPdfAndCsv.JPG');
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
}

.exportMainContainer h1 {
  font-family: 'Irish Grover', sans-serif;
  font-size: 3rem;
  color: #3b3939;
  text-align: center;
  margin: 0;
}

.select_row {
  display: flex;
  justify-content: center;
  margin: 160px 0;
}

.select_row label {
  margin: 8px;
  padding: 0 20px; /* 内側の余白 */
  font-weight: bold;
}

.select_row select {
  appearance: none;
  -webkit-appearance: none;
  padding: 8px; /* 内側の余白 */
  margin-right: 10px; /* 左側の余白 */
  width: 150px; /* 幅 */
  border: 1px solid #272626; /* 枠線 */
  background-color: #d7d7d7; /* 背景色 */
  border-radius: 10px; /* 角を丸くする */
  font-size: 1rem; /* フォントサイズ */
  cursor: pointer;

  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='10' height='6' viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l4 4 4-4' stroke='%23272626' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center; /* 矢印の位置 */
  background-size: 12px; /* 矢印のサイズ */
}

.btn_row {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.download_btn {
  width: 500px; /* ボタンの幅 */
  font-family: 'Inspiration', sans-serif; /* フォント */
  font-weight: bolder; /* 太字 */
  margin: 20px 40px 80px; /* 上マージン + 中央寄せ */
  padding: 15px; /* 余白 */
  border: 1px solid gray; /* 細いボーダー */
  border-radius: 20px; /* 角を丸く */
  background: white; /* 背景色 */
  font-size: 1.2rem; /* フォントサイズ */
  cursor: pointer; /* マウスオーバー時のカーソル */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* 影で立体感 */
  transition: all 0.2s ease-in-out;
  text-align: start; /* テキストを左寄せ */
}

.download_btn:hover {
background: #e6e5e5; /* ホバー時に色を変える */
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* 影を小さくして押し感 */
transform: translateY(-2px); /* 少し浮かせる */
}

.download_btn:active {
box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3); /* 内側の影 */
transform: translateY(2px); /* 押し込んだように */
}

.download_btn span {
  margin-left: 170px;
}

.download_btn svg {
  margin-left: 150px;
  }
