/* ↓↓↓ Footer ↓↓↓ */
footer {
  margin: 0 auto;
}

.footerContent {
  height: 550px;
  position: relative; /* 相対位置 */
  background: #a19d9d; /* 背景色 */
  color: white;
  margin: 0;
}

.footerTop_Content {
  display: flex;
  margin: -1.5rem 2rem; /**/
  flex-direction: column; /* 縦並び */
}

.footerTop_Title {
  padding-top: 30px;
  font-size: 3.2rem; /* text-lg */
  font-weight: 100; /* font-thin */
  max-width: 300px; /* 最大幅 */
  word-wrap: break-word; /* 長い文字列を折り返す */
  font-family: 'Inspiration', sans-serif; /* font-inspiration */
}

.footer_a {
  padding: 0 3rem;
  color: black; /* テキストの色を白に変更 */
  text-decoration: none; /* 下線を取り除く */
}

.footerTop_Nav {
  padding: 0 3rem;
  font-size: 0.7rem; /* text-base */
}

.footerLeft_NavNest {
  font-size: 0.7rem; /* text-base */
  position: absolute; /* 絶対位置 */
  padding: 2.5rem 3rem; 
  top: 13.75rem; /* 220px */
}

.footerTop_SNS {
  max-width: 0 10px; /* 最大幅 */
  padding: 0 3.5rem; /* 内側に余白を追加 */
}

.footerLeftContainer_NavNest {
  max-width: 500px; /* 最大幅 */
}

.css_linkList_FoZ1V {
  display: flex; /* 横並び */
  column-gap: 20px; /* アイテム間隔 */
  list-style-type: none; /* リストスタイルをなしに */
}

.css_linkList_FoZ1V:hover {
  opacity: 1; /* ホバー時に透明度を変更 */
}

.css_footerLeftList_FoZ1V {
  display: flex; /* 横並び */
  margin-top: 20px; /* 上マージン */
  column-gap: 100px; /* アイテム間隔 */
  list-style-type: none; /* リストスタイルをなしに */
}

.css_link_VFSq {
  display: inline-block;
  color: white; /* リンクの色を白に変更 */
  text-decoration: none; /* 下線を取り除く */
}

.css_link_VFSq:hover {
  color: #3c8bdf; /* ホバー時のリンク色を濃い青に変更 */
  text-decoration: underline; /* ホバー時に下線を追加 */
}

.css_link{
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.css_link:hover {
  transform: scale(1.1); /* リンクを少し大きくする */
}

.css_link svg {
  transition: fill 0.3s ease; /* SVGの色を変えるアニメーション */
}

.footerRight_TitleContainer {
  display: flex; /* 横並び */
  justify-content: end; /* 横方向に配置 */
  gap: 8.8rem; /* アイテム間隔 */           
  align-items: center; /* 縦方向に中央寄せ */
  margin: 0 10px; /* 左右の余白 */
}

.footerRight_NavTitle {
  position: relative; /* 相対位置 */
  right: 5rem;;
  bottom: 8.75rem;
  font-size: 1.25rem; /* text-xl */
}

.footerRight_NavTitle_a {
  color: black; /* リンクの色を黒に変更 */
  text-decoration: none; /* 下線を取り除く */
  font-weight: bold;
}

.footerRight_NavTitle_a:hover {
  color: #424242; /* ホバー時のリンク色を濃い青に変更 */
}

.footerRight_Container{
  display: grid; /* グリッドレイアウト */
  grid-template-columns: repeat(3, 12.5rem); /* 3列 */
  gap: 30px; /* アイテム間隔 */
  justify-content: end; /* 右寄せ */
  align-items: flex-start; /* 上寄せ */
  margin: 0 10px; /* 左右の余白 */  
}

.footerRight_Nav {
  position: relative; /* 相対位置 */
  font-size: 1.25rem; /* text-xl */
  bottom: 6rem;
}

.footerRight_Nav_a {
  color: rgb(91, 90, 90); /* リンクの色を変更 */
  text-decoration: none; /* 下線を取り除く */
  font-family: 'Irish Grover', sans-serif; /* font-irish */
}

.footerRight_Nav_a:hover {
  color: #3c8bdf; /* ホバー時のリンク色を濃い青に変更 */
  text-decoration: underline; /* ホバー時に下線を追加 */
}

.footerRight_Underline {
  display: block; /* ブロック要素 */
  text-align: center; /* 中央寄せ */
  border-bottom: 1px solid white; /* 下線を追加 */
  width: 95%; /* 横幅 */
  margin-left: 2.5rem;
}

.footerEnd_Content {
  max-width: var(--main2-width); /* w-full */
  margin: 3.5rem 3.75rem; /* 自動で左右に余白を作り、中央に配置 */
  display: flex; /* 横並び */
  align-items: center; /* 縦方向に中央寄せ */
  font-family: 'Irish Grover', sans-serif; /* font-irish */
}

.footerText {
  text-align: center; /* 中央寄せ */
  flex: 1; /* 横幅を均等に */
}

.footerLink {
  align-items: center; /* 縦方向に中央寄せ（必要に応じて） */;
  color: white; /* リンクの色を白に変更 */
  text-decoration: none; /* 下線を取り除く */
}

.footerLink:hover {
  color: #3c8bdf; /* ホバー時のリンク色を濃い青に変更 */
  text-decoration: underline; /* ホバー時に下線を追加 */
}
/* ↑↑↑ Footer ↑↑↑ */