/* .AdminHeader.module.css */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

header {
  position: fixed; /* 固定位置 */
  width: 100%; /* 画面幅 */
  z-index: 1100; /* ヘッダーは最前線にする */
}

.adminHeaderContainer {
  padding: 1.5rem 2rem;
  display: flex; /* フレックスボックス */
  justify-content: space-between; /* 左右に配置 */
  align-items: center; /* 垂直方向に中央揃え */
}

.adminHeaderContainer h1 {
  margin: 0;
  font-family: 'Inspiration', sans-serif; /* font-inspiration */
  color: #f8cd75; /* テキストカラー */
  font-size: 5rem; /* フォントサイズ */
}

.adminNavContainer {
  margin: 0;
}

.adminNavContainer nav a {
  font-family: "Hachi Maru Pop", cursive;
  margin-right: 20px;
}

.adminNavContainer ul {
  list-style: none; /* リストスタイルなし */
  display: flex; /* フレックスボックス */
  gap: 3rem; /* アイテム間のスペース */
}

.adminNavContainer li a {
  display: inline-block; /* インラインブロック */
  text-decoration: none;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold; /* 太字 */
  transition: color 0.2s ease, transform 0.3s ease; /* ホバー時の色とアニメーション変化 */
  color: #f8cd75; /* テキストカラー */
}

.adminNavContainer li a:hover {
  transform: translateX(5px); /* ホバー時に右に移動 */
  color: #b0d6ff;
}

.logoutButton {
  all: unset;
  display: inline-block;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  color: #f8cd75;
  font-family: "Hachi Maru Pop", cursive;
  margin-right: 20px;
  transition: color 0.2s ease, transform 0.3s ease;
}

.logoutButton:hover {
  transform: translateX(5px);
  color: #b0d6ff;
}

/* ログイン画面のみ */
.loginHeader {
  background-color: #f0f0f0;
  z-index: -1;
}