/* RequestPasswordReset.module.css */
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

/* メインコンテナ */
.requestPasswordResetContainer {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.requestPasswordResetContainer h1 {
  font-family: 'Irish Grover', sans-serif;
  font-size: 3rem;
  color: #3b3939;
  text-align: center;
}

.requestPasswordResetContainer p {
  font-family: "Kiwi Maru", serif;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 100px;
}

/* header */
.header_row {
  height: 100%;
  width: 100%;
}

.header_row a {
  all: unset;
}

.header_row h2 {
  font-family: 'Inspiration', sans-serif; /* font-inspiration */
  font-size: 4rem;
  margin: 0;
  padding: 50px;
  cursor: pointer;
}

/* パスワード入力フォーム */
.requestPasswordForm_row {
  margin: 0;
  padding: 0;
}

.requestPasswordForm_row form {
  width: 40%;
  margin: 0 auto;
}

.requestPasswordForm_row label {
  display: block;
  font-family: "Kiwi Maru", serif;
  font-size: 20px;
  padding-bottom: 10px;
}

.requestPasswordForm_row input {
  width: 94%;
  margin: 0 auto;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid gray; /* 細いボーダー */
}

/* ボタンフォーム */
.requestSubmit_btn {
  margin-top: 3.5rem; /* mt-8 */
  background-color: #000000; /* bg-black */
  color: #FFFFFF; /* text-white */
  padding: 0.5rem 8rem; /* py-2 px-4 */
  font-size: 1.5rem; /* text-4xl */
  font-weight: bold;
  border-radius: 0.5rem;
  border: none; /* ボーダーなし */
  cursor: pointer; /* ポインターを手の形にする */
  margin-bottom: 100px;
}

.requestSubmit_btn:hover {
  background-color: #4f575e; /* bg-gray-700 */
}
